@use '/src/sass/variables' as *;

/* General Rules */
* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mobile-header {
  display: none;
}

.cover {
	width: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

.content {
  width: 75%;
  height: 100vh;
  // background-color: bisque;
  padding: 10px 16px;
  overflow: auto;
}


/* Responsive Design for Mobile */
@media only screen and (max-width: $mobile-device-max-width) {

  .content {
      padding: $header-height 0;
      width: 100%;
      height: 100%;
      transition: .5s;
  }
}