@use '/src/sass/variables' as *;

/* General Rules */
* {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}

.mobile-header {
  display: none;
}

.cover {
	width: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}
