$sidebar-width: 60%;
$header-height: 60px;

// speccification for posts
$font-family: Georgia, 'Times New Roman', Times, serif;
$post-title-font-size: 48px;
$post-title-margin: 10px 35px;

$post-content-margin: 50px 35px 0 35px;
$post-content-font-weight: lighter;
$post-content-line-height: 1.6;
$post-content-font-size: 20px;

$h1-font-size: 38px;
$h1-margin: 20px 0 5px 0;

$h2-font-size: 28px;
$h2-margin: 15px 0 5px 0;

$post-contnet-list-style: initial;
$post-contnet-list-margin: 0 10px 5px 10px;