@use '../../sass/variables' as *;
@use '../../sass/base' as *;


.container {
  display: flex;
  flex-direction: row;
}

.content {
  width: 75%;
  height: 100vh;
  // background-color: bisque;
  padding: 10px 16px;
  overflow: auto;
}


/* Responsive Design for Mobile */
@media only screen and (max-width: 768px) {

  .content {
      padding: $header-height 0;
      width: 100%;
      height: 100%;
      transition: .5s;
  }
}