@use '../../sass/variables' as *;


.sidebar {
  width: 25%;
  height: 100vh;
	padding-top: $page-padding-top;
	padding-bottom: $page-padding-bottom;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: right;
  user-select: none;

	/* Detailed Rules for Sidebar */

	.interactive-area {
		// position: relative;
		max-height: 40%;
		overflow: scroll;
    margin: auto 16px;
		background-color: $theme-colour;
		border-radius: 10px;
		// transform: translateX(-100%);

		// &.active {
		// 	animation: slide-in 0.5s forwards;
		// }

		// @keyframes slide-in {
		// 	100% { transform: translateX(0%); }
		// }

		// @keyframes slide-out {
		// 	0% { transform: translateX(0%); }
		// 	100% { transform: translateX(-100%); }
		// }

	}

}


@media only screen and (max-width: $mobile-device-max-width) {
	.sidebar {
		padding-top: $header-height;
		position: fixed;
		left: calc($sidebar-width * -1);
		transition: .5s;
		z-index: 999;
		height: 100%;
		// background-color:rgba(221, 221, 221, 0.8);
		
		background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgb(255, 255, 255));

  
		&.active {
			display: flex;
			left: calc(100% - $sidebar-width);
			width: $sidebar-width;
			transition: 0.5s;
		}

		& > .menu > .logo{
			display: none;
		}
	}
}


.mobile-header {
	display: none;

	/* Responsive Design for Mobile */
	@media only screen and (max-width: $mobile-device-max-width) {
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
	}
}