@use '../../sass/variables' as *;


a:visited {
  color: inherit;
}

.hero-image {
  max-height: 300px;
}

.title {
  font-size: $post-title-font-size;
  margin: $post-title-margin;
  font-family: $font-family;
}

.date {
  margin: $post-title-margin
}

.MDX-body {
  margin: $post-content-margin;

  p, p *, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    font-weight: $post-content-font-weight;
    line-height: $post-content-line-height;

    a {
      color: cornflowerblue;
      font-family: $font-family;
      font-size: inherit;
      text-decoration: underline;

      &:visited {
        color: cornflowerblue;
      }
    }

    strong {
      font-weight: bold;
    }

    code {
      background-color: rgb(251,242,233);
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      margin: 0 2px;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }

  h1 {
    font-size: $h1-font-size;
    margin: $h1-margin;
  }

  h2 {
    font-size: $h2-font-size;
    margin: $h2-margin;
  }

  ul, ol, li {
    list-style-type: $post-contnet-list-style;
    margin: $post-contnet-list-margin
  }

  p, ul, ol, li {
    font-size: $post-content-font-size;
  }

  pre {
    margin: 20px;
  }
}
  



deckgo-highlight-code {
  position: relative;
  --deckgo-highlight-code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --deckgo-highlight-code-carbon-background: #fbf2e9;
  --deckgo-highlight-code-carbon-box-shadow: none;
  --deckgo-highlight-code-carbon-toolbar-display: none;
  --deckgo-highlight-code-padding: 30px 30px 10px 30px;
  --deckgo-highlight-code-container-width: 700px;
  margin: 20px;

  &::before {
    content: attr(language);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
    text-transform: uppercase;
    position: absolute;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: rgb(247, 223, 30);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}