@use '../../sass/variables' as *;

.post-time, .post-link, .post-brief {
  padding: 8px 8px 8px 0;
}


/* blog block */
.blog-block {
  display: flex;
  padding: 32px;
  border-bottom: 1px solid hsla(0,0%,50%,.12);
  transition: $universal-hover-time;

  &:hover {
    background-color: $theme-colour;
    transition: $universal-hover-time;

  }

  /* blog content container */
  .non-image-part {
    position: relative;
    width: 70%;

    /* blog title */
    .title {
      font-size: 1.8em;
      width: fit-content;
      

      &:after {
        display: block;
        content: '';
        padding-bottom: 2px;
        border-bottom: solid 3px $theme-colour-highlight;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
      }
    }

    /* blog time */
    .post-time {
      position: relative;
    }
  }

  /* blog image container */
  .image-part {
    width: 30%;

    /* blog image */
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  // hover the block to highlight the title
  &:hover .title:after {
    transform: scaleX(1); 
  }
  
  & .title:after {
    transform-origin:  0% 50%;
  }
}


/* Responsive Design for Mobile */
@media only screen and (max-width: $mobile-device-max-width) {

  /* change the blog list layout for mobile viewpoint */
  .blog-block {
    flex-direction: column;
    padding: 0;
    margin: 0;

    /* blog content container */
    .non-image-part {
      width: 100%;
      order: 2;
      padding: 15px 20px;

      .title {
        font-size: 1.4em;
      }

      .post-brief {
        font-size: 0.9em;
      }


      /* blog time */
      .post-time {
        position: unset;
      }
    }

    /* blog image container */
    .image-part {
      width: 100%;
      order: 1;

      .img {
        height: 200px;
      }
    }
  }
  
}