@use '../../sass/variables' as *;


a {
  color: cornflowerblue;
}

a:visited {
  color: inherit;
}

.hero-image {
  max-height: 300px;
}

.title {
  font-size: $post-title-font-size;
  margin: $post-title-margin;
  font-family: $font-family;
}

.date {
  margin: $post-title-margin
}

.MDX-body {
  margin: $post-content-margin;

  p, p *, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    font-weight: $post-content-font-weight;
    line-height: $post-content-line-height;

    strong {
      font-weight: bold;
    }
  }

  h1 {
    font-size: $h1-font-size;
    margin: $h1-margin;
  }

  h2 {
    font-size: $h2-font-size;
    margin: $h2-margin;
  }

  ul, ol, li {
    list-style-type: $post-contnet-list-style;
    margin: $post-contnet-list-margin
  }

  p, ul, ol, li {
    font-size: $post-content-font-size;
  }

  pre {
    margin: 20px;
  }
}
  



