@use '../../sass/variables' as *;


.tags-list-container {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0.2em;
  text-align: left;


  li {
    padding: 6px 12px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: $theme-colour;
    border-radius: 10px;
    transition: .5s;

    &:hover {
    color: $theme-colour-highlight;
      transition: .5s;
    }
  }

}

