@use '../../sass/variables' as *;


.tags-list-container {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0.2em;
  justify-content: center;
  text-align: left;


  li {
    padding: 6px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: $theme-colour;
    border-radius: 8px;
    transition: $universal-hover-time;

    &:hover {
    color: $theme-colour-highlight;
      transition: $universal-hover-time;
    }

    &.active {
      background: $theme-colour-highlight;
      color: white;
    }
  }

}

